.DS_Store
node_modules
/build

.svelte-kit/*
!.svelte-kit/tsconfig.json

/package
.env
.env.*
!.env.example
!.env.development
!.env.runtime.local
dist
public

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.netlify
