@use 'lib/variables';
@use 'lib/reset';
@use 'lib/breakpoints' as br;

:where(:root) {
	cursor: auto;
}

html,
body {
	background-color: var(--background);
	color: var(--secondary-4);
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

body {
	padding: var(--mobile-main-padding);

	@include br.desktop {
		padding: var(--desktop-main-padding);
	}
}

.display-only-mobile {
	@include br.desktop {
		display: none;
	}
}

.display-only-desktop {
	display: none;

	@include br.desktop {
		display: block;
	}
}

.btn-clean {
	padding: 0;
	background: none;
	border: none;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	appearance: none;
	font: inherit;
	outline: inherit;
}

.page-content {
	grid-row: 2;
	grid-column: 2/4;
}
