@use 'lib/variables';
@use 'lib/reset';
@use 'lib/mixins/breakpoints' as br;

:where(:root) {
	cursor: auto;
}

html,
body {
	background-color: var(--background);
	color: var(--secondary-4);
	font-family: var(--font-family);
	font-feature-settings: 'calt' 1; /* Enable ligatures for IE 10+, Edge */
	text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
	scroll-behavior: smooth;
	position: relative;
}

body {
	padding: var(--mobile-main-padding);

	@include br.desktop {
		padding: var(--desktop-main-padding);
	}
}

.display-only-mobile {
	@include br.desktop {
		display: none;
	}
}

.display-only-desktop {
	display: none;

	@include br.desktop {
		display: block;
	}
}

.btn-clean {
	padding: 0;
	background: none;
	border: none;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	appearance: none;
	font: inherit;
	outline: inherit;
}

.focus-off *:focus {
	outline: none;
	transition: transform var(--transition-duration) var(--transition-easing);
}

.focus-on *:focus {
	transition: transform var(--transition-duration) var(--transition-easing);
	outline: 2px solid var(--accent-1);

	&:not(input):not(textarea) {
		transform: scale(1.08);
	}
}
